main{
    flex:1;
    margin-left: 350px;
}

main ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media (max-width:600px){ /* quando a tela tiver menos de 600px, vai aparecer 1 item por column*/
    main ul{
        grid-template-columns: 1fr;
    }
}


